### Simulation Path ###
/home/shared/Codes/PCA-GP/data/VWT-data/circylinder-200MHz
### Simulation (Model) Name ###
circylinder
### Input Angle Settings ###
0 180 1
### Angular Sweep Type (0: phi-sweep, 1: theta-sweep) ###
1
### Frequency Settings ###
200 400 1
### Validate? ###
True
