### Simulation Path ###
/home/incheol/Codes/PCA-GP/data/VWT-data/circylinder
### Simulation (Model) Name ###
circylinder
### Input Angle Settings ###
0.0 180.0 181.0
### Angular Sweep Type (0: phi-sweep, 1: theta-sweep) ###
1
### Frequency Settings ###
500 1500 301
### Validate? ###
False