### Acquisition Function Type (0: maximum variance, 1: expected improvement, 2: upper confidence bound) ###
0
### X normalization Type (0: do not normalize, 1: z-score, 2: min-max, 3: power transform, 4: standardized power transform, 5: scaled z-score) ###
1
### Number of Initial Samples ###
4
### Sampling Addition per Iteration ###
1
### Number of Terms (LF-NSM Kernel Parameter) ###
5
### Sampling Strategy (0: grid, 1: latin-hypercube) ###
1
### Maximum Iteration for Gaussian Process ###
30
### Prediction Energy Tolerance ###
5e-3