### Simulation Path ###
/home/shared/Codes/PCA-GP/data/VWT-data/prime
### Simulation (Model) Name ###
None
### Input Angle Settings ###
0.0 180.0 1.0
### Angular Sweep Type (0: phi-sweep, 1: theta-sweep) ###
1
### Frequency Settings ###
9500 10500 10
### Validate? ###
True